
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: #08330c;
  --background: #FAEED1;
  --cta-color:#9EE493;
  --ekstracolor:#01baef;
  --txt-color-nav:#FAEED1;
  --txt-color2:#0D0C1D;
  --hover-navbar:#157f1f; 
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --fonth1:"Dancing Script", cursive;
  --fonth2:"Lora", serif;
  --fonth3:"Lora", serif;;
  --font-txt:"Crimson Pro", serif ;
}


/*Mobile*/
@media only screen and (max-width: 600px) {
    .navbar{
        position: relative;
        height: 80px;
        z-index: 50;
      }
    .hamburger-menu {
        --x-width: calc(var(--hamburger-height) * 1.41421356237);
      
        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);
        width: max-content;
        position: absolute;
        top: var(--hamburger-margin);
        left: var(--hamburger-margin);
        z-index: 2;
        cursor: pointer;
      }
      
      .hamburger-menu:has(input:checked) {
        --foreground: white;
        --background: black;
      }
      
      .hamburger-menu:has(input:focus-visible)::before,
      .hamburger-menu:has(input:focus-visible)::after,
      .hamburger-menu input:focus-visible {
        border: 1px solid var(--background);
        box-shadow: 0 0 0 1px var(--foreground);
      }
      
      .hamburger-menu::before,
      .hamburger-menu::after,
      .hamburger-menu input {
          content: "";
          width: var(--bar-width);
          height: var(--bar-height);
          background-color: var(--txt-color2); /* Stregerne er sorte*/ 
          border-radius: 9999px;
          transform-origin: left center;
          transition: opacity var(--animation-timing), width var(--animation-timing),
            rotate var(--animation-timing), translate var(--animation-timing),
            background-color var(--animation-timing);
      }
      
      .hamburger-menu input {
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
        pointer-events: none;
      }
      
      .hamburger-menu:has(input:checked)::before {
          rotate: 45deg;
          width: var(--x-width);
          translate: 0 calc(var(--bar-height) / -2);
          background-color: var(--txt-color); /* Krydset er hvidt*/ 
        }
      
      
      .hamburger-menu:has(input:checked)::after {
          rotate: -45deg;
          width: var(--x-width);
          translate: 0 calc(var(--bar-height) / 2);
          background-color: var(--txt-color-nav); /* Krydset er hvidt*/ 
      }
      
      .hamburger-menu input:checked {
        opacity: 0;
        width: 0;
      }
      
      .sidebar {
        transition: translate var(--animation-timing);
        translate: -100%;
        padding: 0.5rem 1rem;
        padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
        background-color: var(--foreground);
        color: var(--background);
        max-width: 20rem;
        min-height: 100vh;
      }
      
      .hamburger-menu:has(input:checked) + .sidebar {
        translate: 0;
      }
      
      a{
          text-decoration: none ;
          color: var(--txt-color);
          font-family: var(--fonth2);
          font-size: 23px;
          padding: 20px;
          Margin: 20px 10px;
         
      }
      a:hover{
      background-color:var(--hover-navbar) ;
      padding: 5px;
      margin: 5px;
      }
      .logud {
          position: absolute;
          bottom: 0;
          color: var(--txt-color); 
          font-family: var(--fontbold); 
          font-size: 23px; 
          padding: 10px;
          margin: 10px;
          align-items: flex-end;
      }
      /*indhold på index*/
      .maintitle{
        font-family: var(--fonth1);
        font-optical-sizing: auto;
        font-style: normal;
        color: var(--txt-color2);
        padding: 20px;
        margin: 20px;
        left: 20px;
      }
      .velkomst{
        font-family: var(--fonth3);
        background-color: var(--ekstracolor);
        padding:20px
      }
      .cta{
        background-color: var(--cta-color);
        font-family: var(--fonth2);
        padding: 10px;
        border-radius: 3px;
      }
      .btn-cta{
        text-decoration: none;
        color: var(--txt-color2);
        font-family: var(--fonth2);
      }
      .btn-cta:hover{
        background-color: none;
        color: var(--background);
      }
      .frontimg{
        max-width: 600px;
        height: 700;

      }

      /*indhold på om mig*/
    .om{
        font-family: var(--fonth1);
        color: var(--txt-color2);
        font-size: 45px;
    }
    .omtxt{
        font-family: var(--font-txt);
    }
    .interesser {
        font-family: var(--fonth3);
    }
    .underskirft{
      font-family: var(--fonth1);
    }
      /*indhold på 2semester*/
.netværk{
  background-color: var(--ekstracolor);
  padding: 5px;
  margin-left: 10px;
}
.overskrift{
  font-family: var(--fonth1);
  font-size: 35px;

}
.gruppe{
  list-style-type: none;
  font-family: var(--font-txt);
}

    }
/*desktop*/
@media only screen and (min-width: 901px) {
  .hamburger-menu {
    display: none;
  }

  .sidebar {
    translate: 0;
    transition: none;
    padding: 18px;
    max-width: none;
    min-height: auto;
    background-color: var(--foreground);
    
  }

  .sidebar nav {
    display: flex;
    justify-content: space-evenly;
  }

  .sidebar a,
  .sidebar a {
    text-decoration: none;
    position: inherit;
    margin: 0;
    padding: 18px;
    color: var(--txt-color);
    font-family: var(--fontbold);
  }
  a:hover{
    background-color: var(--hover-navbar);
  }
}

